# create a docker-compose file to setup PSQL

version: '3.6'
services:
  timescaledb:
    container_name: timescaledb
    image: timescale/timescaledb:2.0.0-pg12
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: timescaledb
      POSTGRES_PASSWORD: postgrespassword

  graphql-engine:
    image: hasura/graphql-engine:latest
    ports:
      - "8080:8080"
    volumes:
      - ./data/migrations:/hasura-migrations
      - ./data/metadata:/hasura-metadata
    depends_on:
      - "timescaledb"
    restart: always
    environment:
      HASURA_GRAPHQL_DATABASE_URL: postgres://timescaledb:postgrespassword@timescaledb:5432/postgres?sslmode=disable
      ## enable the console served by server
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true" # set to "false" to disable console
      ## enable debugging mode. It is recommended to disable this in production
      HASURA_GRAPHQL_DEV_MODE: "true"
      HASURA_GRAPHQL_ENABLED_LOG_TYPES: startup,http-log,webhook-log,websocket-log,query-log
      ## uncomment next line to set an admin secret
      # HASURA_GRAPHQL_ADMIN_SECRET: myadminsecretkey
      HASURA_GRAPHQL_MIGRATIONS_DISABLE_TRANSACTION: "true"

  pgpool-serv:
    image: bitnami/pgpool
    ports:
      - 5433:5432
    volumes:
      - ./configs/pgpool-extra.conf:/config/myconf.conf
    environment:
      # https://github.com/bitnami/bitnami-docker-pgpool#configuration
      - PGPOOL_BACKEND_NODES=0:timescaledb:5432
      - PGPOOL_SR_CHECK_USER=timescaledb
      - PGPOOL_SR_CHECK_PASSWORD=postgrespassword
      - PGPOOL_POSTGRES_USERNAME=timescaledb
      - PGPOOL_POSTGRES_PASSWORD=postgrespassword
      - PGPOOL_ADMIN_USERNAME=timescaledb
      - PGPOOL_ADMIN_PASSWORD=postgrespassword
      - PGPOOL_USER_CONF_FILE=/config/myconf.conf
